@model IEnumerable<SalesWebMVC.Models.Seller>

@{
    ViewData["Title"] = "Sellers";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-default">Create new</a>
</p>

<table class="table table-striped table-hover">
    <thead> <!-- Cabeçalho data tabela ng-->
        <tr> <!--Definir a linha do cabeçalho da tabela-->
            <th> 
                <font size="3">
                    @Html.DisplayNameFor(model => model.Name)
                </font>
            </th>
            <th>
                <font size="3">
                    @Html.DisplayNameFor(model => model.Email)
                </font>
            </th>
            <th>
                <font size="3">
                    @Html.DisplayNameFor(model => model.BirthDate)
                </font>
            </th>
            <th>
                <font size="3">
                    @Html.DisplayNameFor(model => model.BaseSalary)
                </font>
            </th> 
        <th>

        </th>

        </tr>
    </thead>
    <tbody> <!--Corpo da tabela-->
        @foreach (var item in Model)
        {
        <tr>
            <td> <!-- Definir as colunas da tabela -->
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                R$ @Html.DisplayFor(modelItem => item.BaseSalary)
            </td> 
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>

    </table>

<p>Sellers index page</p>